.nav-list {
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;

  display: flex;
  flex-wrap: wrap;
  flex-direction: row;

  &__item a {
    border-radius: $global-radius;
    padding: $global-padding / 1.5;
    background: darken($color3, 10);
    margin-right: $global-margin / 4;
    text-decoration: none;
  }
}